<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_fielf :title, :class => 'span12', :placeholder => "Write a title..." :style => 'font-size: 30px; line-height: 30px; height: 30px' %>
  </div>
    <div class="field">
    <%= f.text_area :body, :class => 'span12', :placeholder => "Write something awesome..."%>
  </div>
  <div class="row">
    <div class="field span7">
      <%= f.label :category %>
      <%= f.text_field :category, :class => 'span7' %>
    </div>
    <div class="actions pull-right" style="padding-top: 10px">
      <%= f.submit :class => 'btn btn-primary btn-large' %>
      or
      <%= link_to "Cancel", :back %>
    </div>
  </div>
<% end %>
